@import "reset";

.button-state {
  &-update {
    outline: none;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;

    background: transparent;
    color: blue;

    &:hover {
      box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25);
    }
  }
  &-finish {
    outline: none;
    border: 1px solid red;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;

    background: transparent;
    color: red;

    &:hover {
      box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25);
    }
  }
}
